<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">BlogPosts</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'get_posts' %}">Posts</a></li>
                <li><a href="{% url 'add_post' %}">Add Post</a></li>
                <li><a href="{% url 'get_user_profile' %}">User Profile</a></li>
                <li><a href="{% url 'get_blocked_users' %}">Blocked Users</a></li>
            </ul>
        </div>
    </nav>
     <div class="container">
        <h1>My Profile</h1>
        <div class="row">
            <div class="col-md-6">
                <h3>Personal Information</h3>
                <img src="{{ user.image }}" alt="Profile Image">
                <p><strong>Name & Surname:</strong><h2>{{ user.name }} {{ user.surname }}</h2>
            </div>
            <div class="col-md-6">
                <h3>Additional Information</h3>
                <p><strong>Interests:</strong> {{ user.interests }}</p>
                <p><strong>Skills:</strong> {{ user.skills }}</p>
                <p><strong>Profession:</strong> {{ user.profession }}</p>
            </div>
        </div>
        <h2>My Posts</h2>
        {% for post in posts %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{ post.title }}</h4>
                </div>
                <div class="panel-body">
                    <p>{{ post.content }}</p>
                </div>
                <div class="panel-body">
                    <p><strong>Author: </strong>{{ post.author }}</p>
                </div>
            </div>
        {% empty %}
            <p>No posts found.</p>
        {% endfor %}
    </div>
</body>
</html>
